<launch>
  <!-- model -->
  <!-- <include file="$(find beam_joy)/launch/beam_model.launch"/> -->
  <!-- <include file="$(find beam_joy)/launch/beam_joy.launch"/> -->
  <include file="$(find beam_joy)/launch/beam_keyboard.launch"/>

  <include file="$(find beam_joy)/launch/hokuyo_laser.launch"/>

</launch>