<launch>
  <!-- Run the map server -->
  <arg name="map_file" default="map-2017.04.18-17.23.02.pgm"/>
  <arg name="map_res" default="0.05"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find beam_nav)/maps/$(arg map_file) $(arg map_res)"/>

  <!--- Run AMCL -->
  <!--<include file="$(find amcl)/examples/amcl_omni.launch" />-->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find beam_nav)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find beam_nav)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find beam_nav)/cfg/local_costmap_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find beam_nav)/cfg/global_costmap_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find beam_nav)/cfg/base_local_planner_params.yaml" command="load" />
    <remap from="/odom" to="/beam/odom" />
    <remap from="/cmd_vel" to="/beam/cmd_vel" />
  </node>
</launch>